
.margin-bottom-big {
    margin-bottom: 30px;
}

.industry-button-holder {
    height: 310px;
    width: 310px;
}


.industry-options-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.industry-options-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.industry-button-broad {
    background-color: #449d44;
    border: 1px solid #449d44;
}

.industry-button-concise {
    background-color: #649d97;
    border: 1px solid #649d97;
}
