
.industry-button-holder {
    height: 210px;
    width: 210px;
}


.industry-options-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.industry-options-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.industry-button-1 {
    background-color: #449d44;
    border: 1px solid #449d44;
}

.industry-button-2 {
    background-color: #649d97;
    border: 1px solid #649d97;
}

.industry-button-3 {
    background-color: #9d6666;
    border: 1px solid #9d6666;
}

.industry-button-4 {
    background-color: #9d902d;
    border: 1px solid #9d902d;
}

.industry-button-5 {
    background-color: #9d4d8d;
    border: 1px solid #9d4d8d;
}

.industry-button-6 {
    background-color: #9d390d;
    border: 1px solid #9d390d;
}
